.shopping-cart-navbar {
  width: 100%;
  height: 40px;
  background-color: #d4cccc;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: grey;
}

.link {
  padding: 20px;
}

.main-container {
  width: 60%;
  margin: auto;
  margin-top: 10px;
}

.product-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 40px;
  justify-content: center;
  gap: 70px;
}

.image-container img {
  width: 100%;
}

.description {
  color: grey;
}

.size-container {
  display: flex;
}

.size-box {
  width: 35px;
  height: 35px;
  margin-right: 13px;
  border: 1px solid grey;
  padding: 5px;
  text-align: center;
  color: grey;
}

.size-box:hover {
  background-color: rgb(135, 134, 134);
  color: white;
}

.required {
  color: red;
}

.error-message {
  color: red;
}

.add-cart-button {
  margin-top: 30px;
}

.cart-item-container {
  display: flex;
  width: 300px;
}

.dropdown-menu {
  width: 400px;
}

.dropdown-item {
  height: 200px;
  width: 50px;
  margin-top: 10px;

  img {
    width: 50%;  
    height: 100%;  
  }
}


@media (max-width: 640px) {

  .product-container {
    grid-template-columns: 1fr;
    gap: 5px;
  }

  p {
    font-size: 0.8em;
  }
}